body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.815);
    font-family: 'Times New Roman', Times, serif;
    height: 100vh;
    overflow: hidden;
    gap: 25px;
    color: rgb(65, 63, 63);
}

.entityWrapper{
    display: flex;
    flex-direction: row;
    gap: 25px;
    height: 80%;
    min-width: 700px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.tableWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    background-color: rgba(246, 247, 245, 0.822);
    border: 1px solid rgb(211, 212, 214);
    border-radius: 8px;
    box-shadow: 0px 0px 20px rgba(165, 163, 163, 0.527);
    position: relative;
    padding: 15px;
    height: 100%;
    overflow: auto;
}

.addEntityLink{
    text-decoration: none;
    color: rgb(144, 214, 144);
    font-weight: bold;
}

table{
    border-collapse: collapse;
    text-align: center;
    width: 100%;
}

thead th{
    padding: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(34, 38, 58);
}

tbody td{
    padding-top:10px;
    padding-bottom: 10px;
    text-align: center;
}

tbody tr:hover{
    background-color: rgb(198, 201, 204);
}

.actionButtonWrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

button{
    border: 0;
    border-radius: 2px;
    padding: 4px;
    color: white;
}

button:hover{
    cursor: pointer;
}

.documentButton{
    background-color: rgb(180, 192, 67);
}

.documentButton:hover{
    background-color: rgba(180, 192, 67, 0.493);
}

@media (max-width: 750px){
    .entityWrapper{
        flex-direction: column;
    }
}