body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.815);
    color: rgb(65, 63, 63);
    font-family: 'Times New Roman', Times, serif;
    height: 100vh;
    overflow: hidden;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputSectionWrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 15px;
    background-color: rgb(246, 248, 248);
}

.leftsideInputs,
.rightsideInputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(246, 247, 245, 0.822);
    border: 1px solid rgb(211, 212, 214);
    padding: 45px;
    box-shadow: 0px 0px 20px rgba(160, 156, 156, 0.527);
    border-radius: 10px;
}

.rightsideInputsInputSection{
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.inputSectionHeader {
    font-size: 24px;

    color: rgb(54, 54, 54);
}

.underline {
    width: 100%;
    border: 1px solid rgb(228, 228, 228);
    margin-bottom: 20px;
}

.formRow {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-bottom: 10px;
}

.formRowInput{
    display: flex;
    flex-direction: column;
}

.inputWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.toolInput {
    display: flex;
    flex-direction: row;
    gap: 2px;
    margin-bottom: 10px;
}


label {
    display: block;
    color: rgb(54, 54, 54);
    text-decoration: none;
}

input {
    text-align: center;
    background-color: rgb(250, 249, 249);
    border: 1px solid rgb(190, 190, 190);
    border-radius: 7px;
    color: black;
    display: flex;
    height: 30px;
    transition: 0.2s;
    width: 90%;
}


input:focus {
    width: 100%;
    outline: none;
    border-color: bisque;
    background-color: rgb(218, 221, 223);
}

.lengthInput,
.positionInput {
    width: 40px;
}

.lengthInput:focus,
.positionInput:focus     {
    width: 40px;
}


#submit-form {
    color: rgb(203, 207, 199);
    height: 45px;
    width: 30%;
    background-color: rgb(53, 63, 78);
    border: 1px solid rgb(117, 122, 131);
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.363);
    transition: width 0.2s;
    margin-bottom: 5px;
}


#submit-form:hover,
#submit-form:focus {
    cursor: pointer;
    outline: none;
    transition: 0.2s;
    width: 31%;
    border-color: rgb(102, 130, 163);
    background-color: rgba(53, 63, 78, 0.904);
}

.invalid {
    border: 1px solid rgb(248, 88, 88);
}

.button-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.alert{
    color: rgb(172, 69, 69);
}

@media (max-width: 1200px) {
    .main {
        height: auto;
        margin-top: 40px;
    }

    .inputSectionWrapper {
        flex-direction: column;
    }
    body{
        height: auto;
        overflow: auto;
    }
    .link-header {
        width: 280px;
    }
}

@media (max-width: 650px) {
    .main {
        height: auto;
        width: 100%;
    }

    .link-header{
        width: 150px;
    }

    body{
        height: auto;
        overflow: auto;
    }
    .inputSectionWrapper {
        flex-direction: column;
    }

    .formRow {
        flex-direction: column;
    }
}