<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/side-bar.css">
    <link rel="shortcut icon" href="/icons/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/active-sheets.css">
    <script src="/scripts/active-sheets.js"></script>
    <title>Fichas ativas</title>
</head>
<body>
    <div th:replace="~{fragments/side-bar.html :: side-bar(user=${user})}"></div>

    <div th:if="${error}" class="alert" role="alert">
        <span style="color: rgb(172, 69, 69);" th:text="${error}">Erros aparecerão aqui</span>
    </div>

    <div class="entityWrapper">
        <div class="tableWrapper">
            <h2>Fichas ativas</h2>
            <div class="filterInputWrapper">
                <input type="text" id="filterInput" placeholder="Procure por algo...">
            </div>
            <table class="chucksTable">
                <thead>
                    <tr>
                        <th>Máquina</th>
                        <th>Item</th>
                        <th>Desc. Item</th>
                        <th>Operação</th>
                        <th>Tempo de Ciclo</th>
                        <th>Responsável</th>
                        <th>Data</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="formSubmission : ${formSubmissions}">
                        <td th:text="${formSubmission.machineName}"></td>
                        <td th:text="${formSubmission.item}"></td>
                        <td th:text="${formSubmission.itemDescription}"></td>
                        <td th:text="${formSubmission.operationId}"></td>
                        <td th:text="${formSubmission.cycleTime}"></td>
                        <td th:text="${formSubmission.userFullName}"></td>
                        <td th:text="${formSubmission.createdAt}"></td>
                        <td>
                            <div class="actionButtonWrapper">
                                <a th:href="@{/formulario-ficha/{formType}(formType=${formSubmission.formType}) + '?submissionId=' + ${formSubmission.submissionId}}"
                                   class="updateEntityButton">Atualizar</a>
                
                                <a th:href="@{/ficha/historico?machineId=${formSubmission.machineId}&item=${formSubmission.item}&operationId=${formSubmission.operationId}}"
                                   class="historyButton">Histórico</a>
                
                                <a th:href="@{/ficha/documento?submissionId=${formSubmission.submissionId}}"
                                   class="documentButton">Documento</a>
                            </div>
                        </td>
                    </tr>
                </tbody>                
            </table>
        </div>
    </div>
</body>
</html>
