<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/side-bar.css">
    <link rel="stylesheet" href="/css/entity-form.css">
    <link rel="shortcut icon" href="/icons/favicon.ico" type="image/x-icon">
    <title>Adicionar Castanha</title>
</head>
    <body>
        <div th:replace="~{fragments/side-bar.html :: side-bar(user=${user})}"></div>
        
        <form action="/adicionar-castanhagl" enctype="multipart/form-data" method="POST">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
            
            <div class="inputSection">
                <div th:if="${error}" class="alert" role="alert">
                    <a href="/entidades" th:text="${error}">Erros aparecerão aqui</a>
                </div>

                <input type="hidden" name="glChuckId" th:value="${glChuck != null ? glChuck.glChuckId : ''}"  id="glChuckId">

                <label for="glChuckName">Nome</label>
                <input type="text" name="glChuckName" th:value="${glChuck != null ? glChuck.glChuckName : ''}" id="glChuckName" required>
        
                <label for="glChuckLocation">Localização</label>
                <input type="text" name="glChuckLocation"  th:value="${glChuck != null ? glChuck.glChuckLocation : ''}" id="glChuckLocation" required>
        
                <label for="glChuckImage">Imagem</label>
                <input type="file" accept="image/*" name="glChuckImage" id="glChuckImage" required>
        
                <button type="submit" id="submitButton">Adicionar Castanha</button>
            </div>
        </form>
    </body>
</html>