<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/side-bar.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="shortcut icon" href="/icons/favicon.ico" type="image/x-icon">
    <title>Início</title>
</head>

<body>

    <div th:replace="~{fragments/side-bar.html :: side-bar}"></div>
    <div class="main">
        <div th:if="${error}" class="alert" role="alert">
            <span href="/entidades" th:text="${error}">Erros aparecerão aqui</span>
        </div>

        <div class="wrapper">
            <a href="/formulario-ficha/standard" class="formImage">
                <div class="imageContainer">
                    <img src="/icons/process-sheet.png" alt="imagem ficha">
                </div>
            
                <span class="sheetName">Padrão</span>
            </a>
            <a href="/formulario-ficha/mill" class="formImage">
                <div class="imageContainer">
                    <img src="/icons/process-sheet-mill.png" alt="imagem ficha">
                </div>
            
                <span class="sheetName">Centro de Usinagem</span>
            </a>
        </div>
        
        <div class="wrapper">
            <a href="/formulario-ficha/doubleturret" class="formImage">
                <div class="imageContainer">
                    <img src="/icons/process-sheet-doubleturret.png" alt="imagem ficha">
                </div>
                <span class="sheetName">Torre Dupla</span>
            </a>
        </div>
       
</body>
</html>