<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/side-bar.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="shortcut icon" href="/icons/favicon.ico" type="image/x-icon">
    <title>Login</title>
</head>
<body>
    <form action="/login" method="POST" th:action="@{/login}">
        <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
        
        <div class="inputSection">
            <div th:if="${param.error}" class="alert" role="alert">
                Usuário ou senha inválidos.
            </div>

            <label for="username">Usuário</label>
            <input type="text" name="username" id="username" required>

            <label for="password">Senha</label>
            <input type="password" name="password" id="password" required>

            <button type="submit" id="submitButton">Entrar</button>
        </div>
    </form>
</body>
</html>
