<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/new-process-sheet.css">
    <script src="/scripts/interact.min.js"></script>
    <script src="/scripts/process-sheet.js"></script>
    <title>Ficha de Processo Usinagem</title>
</head>

<body>
    <div class="main">
        
        <div class="processSheetWrapper" id="processSheetWrapper">
            <div class="processSheetHeader">
                <div class="topLogoContainer">
                    <img src="/icons/logo_mademil.png" alt="">
                </div>
                FICHA DE PROCESSO USINAGEM
            </div>
            <div class="row">
                <div id="item" class="label">Código produto</div>
                <div id="fieldItem" class="field" th:text="${formSubmission.item}">2567.25679</div>
                <div id="itemDescription" class="label">Descrição</div>
                <div id="fieldItemDescription" class="field" th:text="${formSubmission.itemDescription}">POLIA DE FERRO 350 B2 F.20 CH.9</div>
            </div>

            <div class="subheader">DADOS DO PROCESSO DE USINAGEM</div>

            <div class="row">
                <div id="machineName" class="label">Máquina</div>
                <div id="fieldMachineName" class="field" th:text="${machine.machineName}">CNC 24 - QTS 150 ms galax</div>
                <div id="operationId" class="label">Operação</div>
                <div id="fieldOperationId" class="field" th:text="${formSubmission.operationId}"></div>
                <div id="chuckPressure" class="label">Pressão placa</div>
                <div id="fieldChuckPressure" class="field" th:text="${formSubmission.chuckPressure} + 'Kg'"></div>
                <div id="cycleTime" class="label">Tempo</div>
                <div id="fieldCycleTime" class="field" th:text="${cycleTime}"></div>
            </div>

            <div class="row">
                <div id="chuckName" class="label">Castanha</div>
                <div id="fieldChuckName" class="field" th:text="${chuck.chuckName + '    ' + chuck.chuckLocation}"></div>
                <div id="ncName" class="label">Programa</div>
                <div id="fieldNcName" class="field" th:text="${formSubmission.ncName}">2567.25679L2-5</div>
                <div id="holdPressure" class="label">Pressão ponto</div>
                <div id="fieldHoldPressure" class="field" th:text="${formSubmission.holdPressure != null ? formSubmission.holdPressure + 'Kg': ''}"></div>
                <div id="piecesPerHour" class="label">Pç hora</div>
                <div id="fieldPiecesPerHour" class="field" th:text="${piecesPerHour}"></div>
            </div>

            <div class="row">
                <div id="observation" class="label">Observação</div>
                <input type="text" id="observationInput" th:value="${formSubmission.holdPressure == null ? 'Não precisa utilizar ponto' : ''}">
            </div>

            <div class="subheader">FIXAÇÃO E FERRAMENTAS</div>

            <div class="workspace">
                
                    <div class="imageContainer" id="chuckImage" style="transform: translate(0, 0);">
                        <img class="image" src="#" th:src="@{/imagem/castanha/{id}(id=${formSubmission.chuckId})}" alt="Imagem da Castanha">
                    </div>

                
                <div th:each="formSubmissionTool, iter : ${formSubmissionTools}" class="imageContainer" 
                    th:attr="id='image-tool-' + ${iter.index}" style="transform: translate(0, 0);">
                    <img class="image" src="#" th:src="@{/imagem/ferramenta/{id}(id=${formSubmissionTool.toolId})}" alt="Imagem da Ferramenta">
                </div>

                <div class="toolSectionWrapper">
                    <div class="subheader">FERRAMENTAS</div>
                    <div th:each="formSubmissionTool, iter : ${formSubmissionTools}" class="toolRow">
                        <div id="tool" class="label">Ferramenta</div>
                        <div id="fieldTool" class="field" th:text="${formSubmissionTool != null ? formSubmissionTool.toolName + (formSubmissionTool.toolLength != null ? ' (' + formSubmissionTool.toolLength + ' mm)' : '') : ''}"></div>
                        <div id="turretPosition" class="label">Posição Torre</div>
                        <div id="fieldTurretPosition" class="field" th:text="${formSubmissionTool != null ? formSubmissionTool.toolPosition : ''}"></div> 
                    </div>
                    
                    <div class="measurementRow">
                        <div id="measurement" class="label">Instumento de medição</div>
                        <input type="text" id="measurementInput1" class="measurementInput" required>
                        <input type="text" id="measurementInput2" class="measurementInput">
                        <input type="text" id="measurementInput3" class="measurementInput">
                    </div>

                    <div class="row">
                        <div id="alteration" class="label">Alterações</div>
                        <div id="data" class="label">Data</div>
                    </div>


                    <div class="toolRow">
                        <input type="text" class="alterationInput">
                        <input type="text" class="dataInput">
                    </div>

                    
                    <div class="toolRow">
                        <input type="text" class="alterationInput">
                        <input type="text" class="dataInput">
                    </div>
                    
                    <div class="toolRow">
                        <input type="text" class="alterationInput">
                        <input type="text" class="dataInput">
                    </div>
                </div>
            
                <div class="authorWrapper">
                    <div class="authorRow">
                        <div id="developed" class="label">Desenvolvido</div>
                        <div id="approved" class="label">Aprovado</div>
                    </div>
                    <div class="authorRow">
                        <input type="text" id="developedInput" th:value="${user.fullName}" required>
                        <input type="text" id="approvedInput" th:value="${user.role == 'ADMIN' ? user.fullName : ''}" required>
                    </div>
                </div>

                <div class="timeStamp">
                    <div th:text="${dateString != null ?  dateString : 'Erro ao buscar pela data atual'}">asdsadsd</div>
                </div>
            </div>
        </div>

        <form action="/salvar-ficha" method="POST" id="mainForm">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
            <input type="hidden" name="submissionId" th:value="${formSubmission.submissionId}">
            <input type="hidden" name="htmlData" id="htmlDataInput">
            <button type="submit" id="save-button" style="border: none; background: none; padding: 0;">
                <img src="/icons/save-button.png" alt="Salvar" >
            </button>
        </form>

        <input type="file" id="imageUpload" accept="image/*" style="display:none" />
        <div class="camera-button" id="cameraButton"> <img src="/icons/camera-button.png" alt=""></div>

    </div>
</body>
</html>